/* Estilos generales */
body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f9f5f0;
    color: #333;
}

/* Secciones */
section {
    padding: 50px 5px; /* Añade padding vertical a todas las secciones */
}

h2 {
    color: #4a6741;
    text-align: center;
    font-size: 28px;
}

/* Estilo para centrar el texto específico */
.centered-text {
    text-align: center;
    font-weight: bold;
    margin: 20px 0; /* Ajusta el margen según sea necesario */
}

.cta-button {
    background-color: #e0d0a8;
    color: #4a6741;
    border: none;
    padding: 10px 20px;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
    border-radius: 25px;
    transition: background-color 0.3s;
    text-decoration: none;
    display: inline-block;
    margin-top: 10px;
}

.cta-button:hover {
    background-color: #d0c098;
}

/* Header */
header {
    background-color: #4a6741;
    padding: 20px 0;
}

/* Hacer el header sticky */
header.sticky {
    position: -webkit-sticky; /* Para navegadores Safari */
    position: sticky;
    top: 0;
    z-index: 1000;
}

.header-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

header h1 {
    margin: 0;
    padding: 0.5em 0;
}

/* Estilos para el menú actualizado */
nav ul {
    display: flex;
    justify-content: space-around;
    padding: 0;
    margin: 20px 0 0;
    list-style-type: none;
    background-color: #6a8e61;
    border-radius: 25px;
}

nav ul li {
    padding: 10px 0;
    margin: 0 10px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    padding: 10px 20px;
    font-size: 16px;
    transition: color 0.3s ease;
}

nav ul li a:hover,
nav ul li a.active {
    font-weight: bold;
    color: #e0d0a8;
}

/* Home */
#home {
    text-align: center;
}

.food-images {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.food-images img {
    width: 200px;
    height: auto;
    margin: 0 10px;
    border-radius: 10px;
}

/* Estilos para la sección de misión y visión */
.mision-vision-container {
    background-color: #6a8e61;
    border-radius: 15px;
    padding: 20px;
    margin: 100px auto;
    max-width: 2000px; /* Aumentado a 2000px */
    width: 90%;
}

.mision-vision-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.mision-vision-text {
    width: 60%;
    padding-right: 40px;
}

.mision-vision-text h3 {
    font-size: 24px;
    color: #fff;
    margin-bottom: 10px;
}

.mision-vision-text p {
    font-size: 16px;
    color: #fff;
    line-height: 1.5;
}

.mision-vision-image {
    width: 40%;
    text-align: center;
}

.mision-vision-image img {
    max-width: 100%;
    border-radius: 15px;
}

/* Especialistas */
.specialist-cards {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    max-width: 2000px; /* Aumentado a 2000px */
    width: 90%;
    margin: 100px auto;
}

.specialist-card {
    background-color: #6a8e61;
    color: white;
    border-radius: 10px;
    padding: 25px;
    width: calc(33.333% - 20px);
    text-align: center;
    margin-bottom: 30px;
}

.specialist-card img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
}

/* Contenedor para las tarjetas de precios */
.pricing-container {
    display: flex; /* Utiliza Flexbox para alinear las tarjetas en fila */
    justify-content: center; /* Centra las tarjetas horizontalmente */
    align-items: stretch; /* Asegura que todas las tarjetas tengan la misma altura */
    gap: 35px; /* Espacio entre las tarjetas */
    max-width: 100%; /* Ancho máximo del contenedor */
    margin: 0 auto; /* Centra el contenedor horizontalmente */
    padding: 20px; /* Espaciado interno del contenedor */
    flex-wrap: wrap; /* Permite que las tarjetas se ajusten en pantallas pequeñas */
}

/* Estilos para cada tarjeta de precio */
.pricing-card {
    background-color: #6a8e61; /* Color de fondo verde */
    color: white; /* Color de texto blanco */
    border-radius: 10px; /* Bordes redondeados */
    padding: 20px; /* Espaciado interno de la tarjeta */
    width: calc(33.333% - 200px); /* Ancho de cada tarjeta */
    text-align: center; /* Centra el texto */
    box-shadow: 0 4px 8px rgba(0,0,0,0.1); /* Sombra de las tarjetas */
    display: flex; /* Utiliza Flexbox para alinear los elementos internos */
    flex-direction: column; /* Alinea los elementos en columna */
    justify-content: center; /* Espacia uniformemente los elementos */
    position: relative; /* Para posicionar elementos absolutos dentro de la tarjeta */
    min-height: 400px; /* Altura mínima de las tarjetas */
}

/* Contenedor para los elementos internos de la tarjeta */
.pricing-card .content {
    display: flex; /* Utiliza Flexbox para alinear los elementos */
    flex-direction: column; /* Alinea los elementos en columna */
    justify-content: center; /* Espacia uniformemente los elementos */
    align-items: center;
    flex-grow: 1; /* Hace que el contenedor crezca para llenar el espacio */
}

/* Estilos para el título de la tarjeta */
.pricing-card h3 {
    font-size: 30px; /* Tamaño de la fuente para los títulos */
    margin-bottom: 10px; /* Espacio inferior del título */
}

/* Contenedor para el precio */
.price-wrapper {
    font-size: 26px; /* Tamaño de la fuente para los precios */
    font-weight: bold; /* Negrita para los precios */
    margin: 10px 0; /* Espaciado superior e inferior del precio */
    display: flex; /* Utiliza Flexbox para alinear el precio */
    align-items: center; /* Centra verticalmente el precio */
    justify-content: center; /* Centra horizontalmente el precio */
}

/* Estilos para la lista de características */
.features {
    list-style-type: none; /* Quita los puntos de la lista */
    padding: 0; /* Quita el padding de la lista */
    margin: 10px 0; /* Espaciado superior e inferior de la lista */
    text-align: left; /* Centra el texto */
    flex-grow: 1; /* Hace que la lista crezca para llenar el espacio disponible */
    display: flex; /* Utiliza Flexbox para alinear los elementos */
    flex-direction: column; /* Alinea los elementos en columna */
    justify-content: center; /* Centra los elementos verticalmente */
    align-items: center; /* Centra los elementos horizontalmente */
}

/* Estilos para cada elemento de la lista de características */
.features li {
    margin-bottom: 5px; /* Espacio inferior de cada elemento */
    padding-left: 25px; /* Espacio a la izquierda de cada elemento */
    position: relative; /* Para posicionar el icono de verificación */
    text-align: left; /* Alinea el texto a la izquierda */
}

/* Estilos para el icono de verificación */
.features li::before {
    content: "✓"; /* Icono de verificación */
    position: absolute; /* Posiciona el icono de forma absoluta */
    left: 2px; /* Alinea el icono a la izquierda */
    color: #e0d0a8; /* Color del icono */
}

/* Estilos para la etiqueta de mejor oferta */
.best-offer {
    background-color: #ffd466; /* Color de fondo amarillo */
    color: #4a6741; /* Color de texto verde */
    padding: 5px 10px; /* Espaciado interno de la etiqueta */
    border-radius: 15px; /* Bordes redondeados */
    font-size: 14px; /* Tamaño de la fuente */
    font-weight: bold; /* Negrita para el texto */
    position: absolute; /* Posiciona la etiqueta de forma absoluta */
    top: -10px; /* Posiciona la etiqueta en la parte superior */
    right: -10px; /* Posiciona la etiqueta a la derecha */
}

/* Estilos específicos para la sección de recetas */
.recipe-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 2000px; /* Aumentado a 2000px */
    width: 90%;
    margin: 100px auto;
}

.recipe-card {
    background-color: #6a8e61;
    color: white;
    border-radius: 10px;
    padding: 20px;
    width: calc(33.333% - 20px);
    text-align: center;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 30px;
}

.recipe-card h3 {
    font-size: 20px;
    margin-bottom: 10px;
    color: #e0d0a8;
}

.recipe-card p {
    font-size: 14px;
    line-height: 1.4;
    margin-bottom: 15px;
}

.recipe-card .cta-button {
    align-self: center;
}
/* Contacto */
.contact-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 20px;
    max-width: 2000px; /* Aumentado a 2000px */
    width: 90%;
    margin: 100px auto;
}

.contact-info,
.contact-form {
    flex: 1 1 calc(33.333% - 10px);
}

.contact-info h3 {
    margin-top: 0;
}

.contact-form input,
.contact-form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.contact-form button {
    width: 100%;
    padding: 10px;
    background-color: #4a6741;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.contact-form button:hover {
    background-color: #6a8e61;
}


/* Estilos para la nueva sección de ubicación */
#ubicacion {
    background-color: #f9f5f0;
    padding: 50px 0;
}

.ubicacion-container {
    max-width: 1700px; /* Ajustado para coincidir con otras secciones */
    width: 90%;
    margin: 0 auto;
    text-align: center;
}

.mapa {
    width: 100%; /* Cambiado de 130% a 100% */
    height: 800px; /* Reducido de 900px a 600px para mejor proporción */
    border: none;
    margin: 20px auto 0; /* Centrado horizontalmente */
    display: block; /* Asegura que el margen auto funcione */
}

/* Footer */
footer {
    background-color: #4a6741;
    color: white;
    text-align: center;
    padding: 10px 0;
}

/* Botón para volver al tope */
#scrollTopButton {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 100;
    border: none;
    outline: none;
    background-color: #d0c098;
    color: white;
    cursor: pointer;
    padding: 15px;
    border-radius: 50%;
    font-size: 18px;
}

#scrollTopButton:hover {
    background-color: #97a993;
}

* Media Queries */
@media (max-width: 2000px) {
             .specialist-card,
            .recipe-card {
        width: calc(33.333% - 15px);
    }
}

@media (max-width: 768px) {
    .pricing-container {
        flex-direction: column;
    }
    .pricing-card {
        width: 100%;
        margin-bottom: 20px;
    }
    .mision-vision-content {
        flex-direction: column;
    }
    .mision-vision-text,
    .mision-vision-image {
        width: 100%;
        padding-right: 0;
    }
    .mision-vision-image {
        margin-top: 20px;
    }
    .mision-vision-image img {
        max-width: 80%;
    }
    .contact-container {
        flex-direction: column;
    }
    .contact-info,
    .contact-form {
        flex: 1 1 100%;
        margin-right: 0;
    }
    .section-content {
        padding: 20px;
    }
    .specialist-card,
    .recipe-card {
        width: 100%;
    }
}
</antA