/* Estilos generales */
body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f9f5f0;
    color: #333;
}

/* Hacer el header sticky */
header.sticky {
    position: -webkit-sticky; /* Para navegadores Safari */
    position: sticky;
    top: 0;
    z-index: 1000;
    background-color: #4a6741; /* El mismo color de fondo del header */
    padding: 20px 0;
}

/* Header */
header {
    background-color: #4a6741;
    padding: 20px 0;
}

.logo-container {
    text-align: center;
    color: white;
}

.logo {
    width: 100px;
    height: auto;
}

.header-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

header h1 {
    margin: 0;
    padding: 0.5em 0;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 20px 0 0;
    display: flex;
    justify-content: center;
    background-color: #6a8e61;
    border-radius: 25px;
}

nav ul li {
    padding: 10px 0;
}

nav ul li a {
    color: white;
    text-decoration: none;
    padding: 10px 20px;
    font-size: 16px;
    transition: font-weight 0.3s;
}

nav ul li a:hover,
nav ul li a.active {
    font-weight: bold;
    color: #e0d0a8;
}

/* Secciones */
section {
    padding: 50px 20px;
}

h2 {
    color: #4a6741;
    text-align: center;
    font-size: 28px;
}

.cta-button {
    background-color: #e0d0a8;
    color: #4a6741;
    border: none;
    padding: 10px 20px;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
    border-radius: 25px;
    transition: background-color 0.3s;
}

.cta-button:hover {
    background-color: #d0c098;
}

/* Home */
#home {
    text-align: center;
}

.food-images {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.food-images img {
    width: 200px;
    height: auto;
    margin: 0 10px;
    border-radius: 10px;
}

/* Opiniones */
.opinion-cards {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.opinion-card {
    background-color: #6a8e61;
    color: white;
    border-radius: 10px;
    padding: 20px;
    margin: 10px;
    width: 300px;
}

.stars {
    color: #e0d0a8;
    font-size: 24px;
}

.user-info {
    display: flex;
    align-items: center;
    margin-top: 10px;
}

.user-info img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 10px;
}

/* Especialistas */
.specialist-cards {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.specialist-card {
    background-color: #6a8e61;
    color: white;
    border-radius: 10px;
    padding: 20px;
    margin: 10px;
    width: 300px;
    text-align: center;
}

.specialist-card img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
}

/* Contacto */
.contact-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.contact-info {
    flex: 1;
    margin-right: 20px;
}

.contact-info h3 {
    margin-top: 0;
}

.contact-form {
    flex: 1;
}

.contact-form input,
.contact-form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.contact-form button {
    width: 100%;
    padding: 10px;
    background-color: #4a6741;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.contact-form button:hover {
    background-color: #6a8e61;
}

/* Footer */
footer {
    background-color: #4a6741;
    color: white;
    text-align: center;
    padding: 10px 0;
}

/* Botón para volver al tope */
#scrollTopButton {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 100;
    border: none;
    outline: none;
    background-color: #d0c098;
    color: white;
    cursor: pointer;
    padding: 15px;
    border-radius: 50%;
    font-size: 18px;
}

#scrollTopButton:hover {
    background-color: #97a993;
}
